body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #fff;
        text-align: center;
        margin: 0;
        padding: 0;
    }
header {
    background-color: #b8501e; /* Колір цегли */
    padding: 20px;
    }
h1 { font-size: 3em; margin: 0; text-transform: uppercase; }
.container { max-width: 800px; margin: 0 auto; padding: 20px; }
.btn {
    display: inline-block;
    background-color: #4CAF50; /* Зелений */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 0;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
        }
.btn:hover { background-color: #45a049; transform: scale(1.05); }
.screenshot {
    width: 80%;
    border: 5px solid #fff;
    margin: 20px 0;
}
.features { text-align: left; background: #333; padding: 20px; border-radius: 10px; }